.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-label {
  font-size: 14px;
}

ion-input,
ion-datetime,
ion-select,
ion-textarea {
  width: 100%;
}

ion-select {
  min-width: 100%;
}

ion-textarea {
  min-height: 100px;
}